* {
	padding: 0;
	margin: 0;
	font-family: "SourceHanSansCN-Heavy";
}

html,
body {
	height: 100%;
	width: 100%;
}

.textColor {
	color: #11E7B1;
}

.textColorB2 {
	color: #B2620A;
}

.textColorF33 {
	color: #f33;
}

.textColorff {
	color: #fff;
}

.textColor9e {
	color: #9E9E9E;
}

.textColor19 {
	color: #191224 !important;
}

.textColor5a {
	color: #00b05a;
}

.content_app {
	background-color: #191224;
}

.content_app_b2 {
	background-color: #B2620A !important;
}

.content_appfb {
	background-color: #FBC457 !important;
}

.content_app2f {
	background-color: #2F243A
}

.content_app11 {
	background-color: #11E5B0 !important;
	border: none !important;
}

.fontSize12 {
	font-size: 24upx;
}

.fontSize13 {
	font-size: 26upx;
}

.fontSize14 {
	font-size: 28upx;
}

.fontSize15 {
	font-size: 30upx;
}

.fontSize24 {
	font-size: 50upx;
}

.fontSize35 {
	font-size: 70upx;
}

.fontSize19 {
	font-size: 38rpx
}

.fontSize30 {
	font-size: 60rpx
}


.fontSize16 {
	font-size: 32upx;
}

.bg {
	background-color: #3ce5bc;
}


.bgfff {
	background-color: #D4D4D4;
}

.ellipsis1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200upx;
}

.borderBottoms {
	border-bottom: 1px solid #9E9E9E;
}

/* input placehoder 颜色 */
.phcolor {
	color: #fff;
}

.weight {
	font-weight: bold;
}

.borderBottom1 {
	border-bottom: 2upx solid #f5f5f5;
}

.marginBottom20 {
	margin-bottom: 30upx;
}

.margin_button_top {
	margin-top: 40upx;
}

.paddingTB {
	padding: 40upx 0;
}

.paddingAll {
	padding: 20upx;
}

/* grids 字体样式 */
.color1296db {
	color: #1296db;

}

.disRowAround {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.disRowAroundaround {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.rowBetween {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.disRowAroundcenter {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.disRowcCenter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.disRowcCenterEnd {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.fontWeight {
	font-weight: bold;
}

.gridsF5F5F5 {
	color: #ccc;
}

.flex1 {
	display: flex;
	flex: 1;
}

.overflow3 {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.overflow2 {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.overflow1 {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.displayRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.displayRowCol {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.you {
	width: 9px;
	height: 9px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	transform: rotate(45deg);
	margin-right: 10px;
}

.you333 {
	width: 9px;
	height: 9px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	transform: rotate(45deg);
	margin-right: 10px;
}

.collaps_content_padding {
	padding: 10px 0;

}

.b20 {
	border-bottom: 1px solid #B2620A;
}

.mrl {
	margin-left: 10px;
}

.mrr {
	margin-right: 10px;
}

.margAll {
	margin: 10px;
	border-radius: 6px;
}

.collaps_l {
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 5px;
	background: #13E6B1;
	font-family: SourceHanSansCN-Bold;
	font-size: 12px;
	font-weight: bold;
}

.collaps_c {
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: 0px;
	color: #11E7B1;
}

.collaps_h {
	font-size: 13px;
	font-weight: normal;
	line-height: 9px;
	letter-spacing: 0px;
	color: #9E9E9E;
}

.ptop {
	padding: 40upx 0;
}

.marTop20 {
	margin: 40upx 0;
}

.paddingTop20 {
	padding-top: 40upx;
}

.minHeight100 {
	min-height: 100vh;
	overflow-y: scroll;
}

.bgred {
	background-color: red;
	color: #fff !important;
}

.bggreen {
	background-color: green;
	color: #fff !important;
}


.maskToast {
	position: relative;
	filter: blur(2px);
	user-select: none;
}

.maskToast::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	background: rgba(255, 253, 253, 0.2);
}


.textShadowTost {
	-webkit-filter: blur(1px) !important;
	-moz-filter: blur(1px) !important;
	-ms-filter: blur(1px) !important;
	filter: blur(1px) !important;
	color: transparent !important;
	text-shadow: #FBC457 0 0 5px !important;
}

.textShadowTostFFF {
	-webkit-filter: blur(1px) !important;
	-moz-filter: blur(1px) !important;
	-ms-filter: blur(1px) !important;
	filter: blur(1px) !important;
	color: transparent !important;
	text-shadow: #fff 0 0 5px !important;
}

.textShadowTost13E6B1 {
	-webkit-filter: blur(1px) !important;
	-moz-filter: blur(1px) !important;
	-ms-filter: blur(1px) !important;
	filter: blur(1px) !important;
	color: transparent !important;
	text-shadow: #13E6B1 0 0 5px !important;
}

.textShadowTost9E9E9E {
	-webkit-filter: blur(1px) !important;
	-moz-filter: blur(1px) !important;
	-ms-filter: blur(1px) !important;
	filter: blur(1px) !important;
	color: transparent !important;
	text-shadow: #9E9E9E 0 0 5px !important;
}

.logo-style {
	width: 100upx;
	height: 100upx;
	border-radius: 50upx;
	margin-right: 60upx;
}

.collaps_header_rights {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.down_icon_view {
	width: 25px;
	height: 25px;
}

.propsUp {
	background-color: #fff;
	padding: 80upx 40upx;
	border-top-left-radius: 16upx;
	border-top-right-radius: 16upx;

}
